# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build / distribution
build/
dist/
*.egg-info/

# PDF outputs (optional, remove if you want to track PDFs)
# *.pdf

# IntelliJ / PyCharm
.idea/